html, body {
	background: url('../img/pocetna.jpg');
	width: 100%;
	height: 100%;
}

#o-nama-header {
	background: url('../img/onama.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 500px;
	margin-top: 80px; 
}

.content {
	min-height: 500px;
	padding-bottom: 100px;
	color: white;
}

.navbar {
    top: 50px;
    position: absolute;
    z-index: 9500;
    width: 100%;
    width: 100vw;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;

}
.navbar-nav > li > a:hover {
    background-color: #FFFF00;
    color: black;
}

.navbar-nav > li > a{
    position: relative;
    display: block;
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    line-height: 20px;
}

.modal-dialog {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;

}

.popup-form {
    width: 90%;
    max-width: 375px;
    margin: 60px auto;
}

.popup-form .form-control {
    margin: 20px 0;
}

.btn.btn-blue {
    background: #00a8ff;
}


.akcija {
    margin-top: 130px;
    position: absolute;
    font-size: 50px;
    width: 100%;
    color: white;

}

.icon-bar {
    background: #bbb;
}

.white{
    color: white;
}

.logo {
color: lightblue;
padding-left: 40px;

}

.izrada {
padding-top: 40px;


}