
.navbar {
    top: 50px;
    position: absolute;
    z-index: 9500;
    width: 100%;
    width: 100vw;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;

}
.navbar-nav > li > a:hover {
    background-color: #FFFF00;
    color: black;
}

.navbar-nav > li > a{
    position: relative;
    display: block;
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    line-height: 20px;
}

.icon-bar {
    background: #bbb;
}

.btn.btn-blue {
    background: #00a8ff;
}

.pera{
    z-index: 1;
}



