.modal-dialog {
    margin-top: 200px;
    width: 100%;
    max-width: 560px;

}

.popup-form {
    width: 90%;
    max-width: 375px;
    margin: 60px auto;
}

.popup-form .form-control {
    margin: 20px 0;
}

