.modal-dialog {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;

}

.popup-form {
    width: 90%;
    max-width: 375px;
    margin: 60px auto;
}

.popup-form .form-control {
    margin: 20px 0;
}

