nav.navbar {
    top: 50px;
    position: absolute;
    z-index: 9500;
    width: 100%;
    width: 100vw;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
    color: #00a8ff !important;
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
    color: #bbb;
}

.icon-bar {
    background: #bbb;
}

.btn.btn-blue {
    background: #00a8ff;
}

nav.navbar-fixed-top {
    z-index: 9499;
    top: 0;
    padding: 25px 0;
    opacity: 0;
    background: white;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

